.row {
  margin: 0 !important;
}

.custom-container {
  padding: 20px 0 20px 20px;
}

.custom-container-scroll {
  padding: 20px 0 20px 0;
}

/* Drag SCroll  */
.scroll-container {
  display: flex;
  width: auto;
}

.scroll-container .item {
  margin: 0 10px 0 20px;
}

/* Popular Movie List  */
.grid-card {
  padding: 0;
}

/* Pagination Load More  */

.loadmore-container {
  width: 100%;
  position: relative;
  height: 100px;
}

.btn-loadmore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  color: black;
  font-weight: bold;
  background-color: #e19a9a;
  border-style: none;
  padding: 1rem 2rem;
}

/* Movie detail page  */
.detail-background {
  background-size: cover;
  background-repeat: no-repeat;
}

.detail-backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8);
}

.detail-container {
  padding: 30px 0;
}

.detail-container img {
  border-radius: 10px;
}

.detail-text {
  color: white;
}

.detail-title {
  font-size: 30px;
  font-weight: bold;
}

.detail-sub {
  margin-bottom: 20px;
}

.detail-overview {
  font-size: 20px;
  margin-bottom: 10px;
}
